<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.popup.any">
      	<separator
       		name="org.spdx.spdxeclipse.start"
       		visible="true">
		</separator>
         	<command
                commandId="org.spdx.spdxeclipse.command"
                label="Generate SPDX"
                style="push">
         	</command>
         <separator
       		name="org.spdx.spdxeclipse.end"
       	 	visible="true">
		 </separator>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:project">
         <command
               commandId="org.spdx.spdxeclipse.command2"
               label="Generate SPDX"
               style="push">
         </command>
      </menuContribution>
   </extension>
</plugin>
