<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
         <command
               commandId="org.spdx.spdxeclipse.command"
               icon="Assets/Images/spdx_logo.jpg"
               label="Generate SPDX"
               style="push">
         </command>
      </menuContribution>
   </extension>
</plugin>
